:root {
    /*  */
    --gap-section: 2.5rem; /* Gap between each section */
    --main-margin: 2.5rem; /* Top and bottom margin */
    --content-width: 60%; /* Width of the content */
    --gap-body: 1rem; /* Gap for the profile data and profile links and article footer */
    --user-image-size: 250px; /* Size of the user image */
    --user-image-border-radius: 1rem; /* Border radius of the user image */

    --article-title-font-size: 1.75rem; /* Article title font size */
    --article-subtitle-font-size: 1.5rem; /* This is for the article subtitle font size eg. Work Experience */
    --article-text-font-size: 1rem; /* Article body font size */
    --article-subtext-font-size: 0.75rem; /* This is for the subtext font size eg. the date */

    --hover-color: rgb(75, 150, 0); /* Hover color */
    --lighter-hover-color: rgb(100, 200, 0); /* Lighter hover color */
    --shade-color: rgb(158, 158, 158); /* Shade color eg. Disclaimer Text */
    --about-section-background-color: rgb(36, 41, 53); 
    --about-section-border-color: gray;

    --article-title-margin: 1rem; /* Margin bottom for the main article title eg. Work Experience */
    --about-section-padding-top-bottom: 0.75rem; /* Top and bottom padding for each about section */
    --about-section-padding-left-right: 1rem; /* Left and right padding for each about section */
    --about-section-title-subtitle-padding-bottom: 0.75rem; /* padding bottom for each section title (eg. Research Engineer) and its subtitle (Position Name etc) */
    --ul-margin-left-and-li-margin-bottom: 0.5rem;
    --ul-text-indent-and-padding-left: 20px;

    --article-text-padding-bottom: 0.75rem; /* Bottom padding between the article texts */
    --article-end-padding-bottom: 2.5rem; /* Bottom padding at the end of the article */
}

/* General formatting for the whole page */

.About .About_Container a,
.About .About_Container svg path {
    color: var(--hover-color);
}

.About .About_Container a:hover {
    color: var(--lighter-hover-color);
}

.About .About_Container .shade {
    color: var(--shade-color);
}

.About .About_Container .body {
    font-size: var(--article-text-font-size);
    line-height: 1.25;
}

/* Formatting for the rest of the page */

.About .About_Container,
.About .About_Container .About_Avatar,
.About .About_Container .About_Main_Section,
.About .About_Container .About_Main_Section .About_Each_Section {
    display: flex;
    flex-direction: column;
}

.About .About_Container {
    width: var(--content-width);
    margin: var(--main-margin) auto;
    gap: var(--gap-section);
}

.About .About_Container .About_Avatar {
    justify-content: center;
    align-items: center;
    gap: var(--gap-body);
}

.About .About_Container .About_Avatar img {
    width: var(--user-image-size);
    height: var(--user-image-size);
    border-radius: var(--user-image-border-radius);
}

.About .About_Container .About_Paragraph .body {
    line-height: 1.5;
}

.About .About_Container .About_Main_Section .About_Main_Section_Title {
    font-weight: 900;
    font-size: var(--article-title-font-size);
    margin-bottom: var(--article-title-margin);
}

.About .About_Container .About_Main_Section .About_Each_Section {
    padding: var(--about-section-padding-top-bottom) var(--about-section-padding-left-right);
    border: 1px solid var(--about-section-border-color);
    background-color: var(--about-section-background-color);
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--about-section-title-subtitle-padding-bottom);
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_Header .Each_Section_Title {
    font-size: var(--article-subtitle-font-size);
    font-weight: bold;
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_Header .Each_Section_Date {
    font-size: var(--article-subtext-font-size);
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_SubHeader {
    padding-bottom: var(--about-section-title-subtitle-padding-bottom);
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_Information ul {
    margin-left: var(--ul-margin-left-and-li-margin-bottom);
    list-style: inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: var(--ul-text-indent-and-padding-left);
}

.About .About_Container .About_Main_Section .About_Each_Section .Each_Section_Information li:not(:last-child) {
    margin-bottom: var(--ul-margin-left-and-li-margin-bottom);
}