/* 

- I have warning, information, question

Need to design:
- Blog main section
- projects --> this will be categories 
    - maybe add tags into the projects section

Need to fix:
- faCircleQuestion fill it
- make blogpage.js and then render 5 blogpage datas (remember to fix the data like links and shit)
- clean up code in general

*/

:root {
    /*  */
    --main-margin: 2.5rem; /* Top and bottom margin */
    --content-width: 60%; /* Width of the content */

    --mainTitle-font-size: 2rem; /* Font size for the main page title */
    --sectionTitle-font-size: 1.75rem; /* Font size for each section title */
    --subSectionTitle-font-size: 1.4rem; /* Font size for each sub section title */
    --body-text-font-size: 1rem; /* Font size for the body text */
    --code-font-size: 0.8rem; /* Font size for the code text */
    --sub-body-text-font-size: 0.75rem; /* Font size for the sub body text */

    --hover-color: rgb(75, 150, 0); /* Hover color */
    --lighter-hover-color: rgb(100, 200, 0); /* Lighter hover color */
    --shade-color: rgb(158, 158, 158); /* Shade color eg. Disclaimer Text */
    --code-background-color: rgba(44, 71, 114, 0.3);
    --code-color: #ffa17a;

    --ul-text-indent-and-padding-left: 20px; /* This is for the lists */
    --line-height: 1.5; /* This is for the line height */
    --reference-line-height: 1.25; /* Line height for the references */
    --blog-footer-animation: 10px; /* The moving left and right animation for the blog footer next links */
    --blog-page-subtitle-section-gap: 1rem; /* Gap between the blog page's subtitle (eg. date, no. words, time, folder name) */

    --general-margin: 0.5rem; /* General margin that I use for top and bottom */
    --section-title-margin-top: 0.75rem; /* Margin top for each sections title */
    --section-title-margin-bottom: 0.25rem; /* Margin bottom for each sections title */
    --subSection-title-margin-top: 1rem; /* Margin top for each sub sections title */
    --subSection-title-margin-bottom: 0.5rem; /* Margin bottom for each sub sections title */
    --reference-section-table-padding-top-bottom: 1rem; /* Top and bottom padding for the reference section */
    --reference-padding-left: 2rem; /* Left padding for the references */
    --blog-footer-margin-top: 2rem; /* Margin top for the blog footer (left link and right link container) */
}


/* General formatting for the whole page */

.BlogPage .BlogPage_Container .blog_links,
.BlogPage .BlogPage_Container .blog_links sup,
.BlogPage .BlogPage_Container .blog_links svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .blog_links:hover,
.BlogPage .BlogPage_Container .blog_links sup:hover,
.BlogPage .BlogPage_Container .blog_links:hover svg path {
    color: var(--lighter-hover-color);
}

.BlogPage .BlogPage_Container .blog_links_inverse:hover,
.BlogPage .BlogPage_Container .blog_links_inverse:hover svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .body {
    text-align: justify;
    display: inline-block;
    font-size: var(--body-text-font-size);
    line-height: var(--line-height);
    margin: var(--general-margin) 0rem;
}

.BlogPage .BlogPage_Container .sub-body {
    font-size: var(--sub-body-text-font-size);
}

.BlogPage .BlogPage_Container .sectionIcon svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .subSection svg path {
    transform: rotate(90deg);
    transform-origin: center;
}

.BlogPage .BlogPage_Container .section_title {
    display: inline-block;
    font-weight: bold;
    font-size: var(--sectionTitle-font-size);
    margin: var(--section-title-margin-top) 0rem var(--section-title-margin-bottom) 0rem;
}

.BlogPage .BlogPage_Container strong {
    font-weight: bold;
}

.BlogPage .BlogPage_Container .code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: var(--code-font-size);
    padding: 0.3rem 0.4rem;
    letter-spacing: 0.4;
    border-radius: 0.25rem;
}

.BlogPage .BlogPage_Container .subSection_title {
    font-size: var(--subSectionTitle-font-size);
    font-weight: bold;
    margin: var(--subSection-title-margin-top) 0rem var(--subSection-title-margin-bottom) 0rem;
    display: inline-block;
}

/* Formatting for the rest of the page */

.BlogPage .BlogPage_Container {
    width: var(--content-width);
    margin: var(--main-margin) auto;
    display: flex;
    flex-direction: column;
}

.BlogPage .BlogPage_Container .mainTitle {
    font-size: var(--mainTitle-font-size);
    font-weight: bold;
    display: inline-block;
    margin-bottom: var(--general-margin);
}

.BlogPage .BlogPage_Container .BlogPage_SubTitleSection {
    display: flex;
    gap: var(--blog-page-subtitle-section-gap);
    margin: var(--general-margin) 0rem;
}

.BlogPage .BlogPage_Container .Blog_Image {
    display: inline-block;
    margin: var(--general-margin) 0rem;
}

.BlogPage .BlogPage_Container ul {
    list-style: inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: var(--ul-text-indent-and-padding-left);
    display: block;
    font-size: var(--body-text-font-size);
    line-height: var(--line-height);
    margin: var(--general-margin) 0rem;
}

.BlogPage .BlogPage_Container .reference_section_table {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: var(--reference-section-table-padding-top-bottom) 0rem;
    width: 100%;
}

.BlogPage .BlogPage_Container .reference {
    line-height: var(--reference-line-height);
    padding-left: var(--reference-padding-left);
}

.BlogPage .BlogPage_Container .blog_tags {
    margin: var(--general-margin) 0rem;
}

.BlogPage .BlogPage_Container .blog_tags > * {
    display: inline;
    vertical-align: middle;
}

.BlogPage .BlogPage_Container .blog_footer {
    margin-top: var(--blog-footer-margin-top) !important;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left,
.BlogPage .BlogPage_Container .blog_footer .footer_right {
    margin: 0rem !important;
    display: flex !important;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left {
    justify-content: left;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right {
    justify-content: right;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a {
    position: relative;
    left: var(--blog-footer-animation);
    transition: left 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a:hover {
    left: 0;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a {
    position: relative;
    right: var(--blog-footer-animation);
    transition: right 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a:hover {
    right: 0;
}
