/* 

- I have warning, information, question

*/

:root {
    /*  */
    --code-font-size: 0.8rem; /* Font size for the code text */

    --code-background-color: rgba(44, 71, 114, 0.3);
    --code-color: #ffa17a;

    --ul-text-indent-and-padding-left: 20px; /* This is for the lists */
    --line-height: 1.5; /* This is for the line height */
    --reference-line-height: 1.25; /* Line height for the references */
    --blog-footer-animation: 10px; /* The moving left and right animation for the blog footer next links */
    --blog-page-subtitle-section-gap: 1rem; /* Gap between the blog page's subtitle (eg. date, no. words, time, folder name) */

    --reference-section-table-padding-top-bottom: clamp(0.5rem, 2vw, 1rem); /* Top and bottom padding for the reference section */
    --reference-padding-left: clamp(1rem, 2vw, 2rem); /* Left padding for the references */
    --blog-footer-margin-top: clamp(1rem, 2vw, 2rem); /* Margin top for the blog footer (left link and right link container) */

    --code-padding-top-bottom: 0.3rem;
    --code-padding-left-right: 0.4rem;
}

@media (max-width: 1000px) {
    :root {
        --code-font-size: 0.6rem !important;
    }
}

@media (max-width: 700px) {
    :root {
        --code-font-size: 0.4rem !important;  
        --code-padding-top-bottom: 0.15rem;
        --code-padding-left-right: 0.2rem; 
    }
}

/* @media (max-width: 1000px) {
    :root {
        
    }
} */

/* General formatting for the whole page */

.BlogPage .BlogPage_Container .blog_links,
.BlogPage .BlogPage_Container .blog_links sup,
.BlogPage .BlogPage_Container .blog_links svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .blog_links:hover,
.BlogPage .BlogPage_Container .blog_links sup:hover,
.BlogPage .BlogPage_Container .blog_links:hover svg path {
    color: var(--lighter-hover-color);
}

.BlogPage .BlogPage_Container .blog_links_inverse:hover,
.BlogPage .BlogPage_Container .blog_links_inverse:hover svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .body {
    text-align: justify;
    display: inline-block;
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    margin: var(--text-margin) 0rem;
}

.BlogPage .BlogPage_Container .sub-body {
    font-size: var(--subtext-font-size);
}

.BlogPage .BlogPage_Container .sectionIcon svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .subSection svg path {
    transform: rotate(90deg);
    transform-origin: center;
}

.BlogPage .BlogPage_Container .section_title {
    display: inline-block;
    font-weight: bold;
    font-size: var(--title-font-size);
    margin: calc(var(--title-margin) * var(--title-multiplier)) 0rem var(--title-margin) 0rem;
}

.BlogPage .BlogPage_Container strong {
    font-weight: bold;
}

.BlogPage .BlogPage_Container .code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: var(--code-font-size);
    padding: var(--code-padding-top-bottom) var(--code-padding-left-right);
    letter-spacing: 0.4;
    border-radius: 0.25rem;
}

.BlogPage .BlogPage_Container .subSection_title {
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    margin: calc(var(--subtitle-margin) * var(--subtitle-multiplier)) 0rem var(--subtitle-margin) 0rem;
    display: inline-block;
}

/* Formatting for the rest of the page */

.BlogPage .BlogPage_Container {
    width: var(--main-content-width);
    margin: var(--main-margin) auto;
    display: flex;
    flex-direction: column;
}

.BlogPage .BlogPage_Container .mainTitle {
    font-size: var(--mainTitle-font-size);
    font-weight: bold;
    display: inline-block;
    margin-bottom: var(--mainTitle-margin);
}

.BlogPage .BlogPage_Container .BlogPage_SubTitleSection {
    display: flex;
    gap: var(--blog-page-subtitle-section-gap);
    margin: var(--subtext-margin) 0rem;
}

.BlogPage .BlogPage_Container .Blog_Image {
    display: inline-block;
    margin: var(--image-margin) auto;
    display: block;
}

.BlogPage .BlogPage_Container ul {
    list-style: inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: var(--ul-text-indent-and-padding-left);
    display: block;
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    margin: var(--text-margin) 0rem;
}

.BlogPage .BlogPage_Container li {
    margin-bottom: var(--text-margin);
}

.BlogPage .BlogPage_Container .reference_section_table {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: var(--reference-section-table-padding-top-bottom) 0rem;
    width: 100%;
}

.BlogPage .BlogPage_Container .reference {
    line-height: var(--reference-line-height);
    padding-left: var(--reference-padding-left);
}

.BlogPage .BlogPage_Container .blog_tags {
    margin: var(--subtext-margin) 0rem;
}

.BlogPage .BlogPage_Container .blog_tags > * {
    display: inline;
    vertical-align: middle;
}

.BlogPage .BlogPage_Container .blog_footer {
    margin-top: var(--blog-footer-margin-top) !important;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left,
.BlogPage .BlogPage_Container .blog_footer .footer_right {
    margin: 0rem !important;
    display: flex !important;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left {
    justify-content: left;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right {
    justify-content: right;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a {
    position: relative;
    left: var(--blog-footer-animation);
    transition: left 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a:hover {
    left: 0;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a {
    position: relative;
    right: var(--blog-footer-animation);
    transition: right 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a:hover {
    right: 0;
}

.BlogPage .highlight {
    color: yellow; /* highlight color */
    transition: color 0.5s ease-in-out; /* ease-in-out transition */
}