/* 

- I have warning, information, question

Need to Design:
- code layout --> fix it so its easier for me to code. maybe make like a blogpage1 code data or sth
- maybe change up and add a table of contents dropdown thing
    - connect the sections
- connect the reference links
- replicate for the next 4 sections and connect the footer left and right one
- maybe try making a blogpage1 content section to make thing easier?????
    - For now, I can make a content data section thing for:
        - date
        - folder name
        - tag links
        - references
        - left and right link
        - table of contents data
- do the copy code button thing
- 

*/

:root {
    /*  */
    --main-margin: 2.5rem; /* Top and bottom margin */
    --content-width: 60%; /* Width of the content */

    --mainTitle-font-size: 2rem; /* Font size for the main page title */
    --sectionTitle-font-size: 1.75rem; /* Font size for each section title */
    --subSectionTitle-font-size: 1.4rem; /* Font size for each sub section title */
    --body-text-font-size: 1rem; /* Font size for the body text */
    --code-font-size: 0.8rem; /* Font size for the code text */
    --sub-body-text-font-size: 0.75rem; /* Font size for the sub body text */

    --hover-color: rgb(75, 150, 0); /* Hover color */
    --lighter-hover-color: rgb(100, 200, 0); /* Lighter hover color */
    --shade-color: rgb(158, 158, 158); /* Shade color eg. Disclaimer Text */
    --code-background-color: rgba(44, 71, 114, 0.3);
    --code-color: #ffa17a;

    --ul-text-indent-and-padding-left: 20px;
}


/* General formatting for the whole page */

.BlogPage .BlogPage_Container .blog_links,
.BlogPage .BlogPage_Container .blog_links sup,
.BlogPage .BlogPage_Container .blog_links svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .blog_links:hover,
.BlogPage .BlogPage_Container .blog_links sup:hover,
.BlogPage .BlogPage_Container .blog_links:hover svg path {
    color: var(--lighter-hover-color);
}

.BlogPage .BlogPage_Container .body {
    font-size: var(--body-text-font-size);
    line-height: 1.5;
    text-align: justify;
    display: inline-block;
    margin: 0.5rem 0rem;
}

.BlogPage .BlogPage_Container .sub-body {
    font-size: var(--sub-body-text-font-size);
}

.BlogPage .BlogPage_Container .sectionIcon svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .subSection svg path {
    transform: rotate(90deg);
    transform-origin: center;
}

.BlogPage .BlogPage_Container .section_title {
    font-size: var(--sectionTitle-font-size);
    display: inline-block;
    margin: 0.75rem 0rem 0.25rem 0rem;
    font-weight: bold;
}

.BlogPage .BlogPage_Container strong {
    font-weight: bold;
}

.BlogPage .BlogPage_Container .code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: var(--code-font-size);
    padding: 0.3rem 0.4rem;
    letter-spacing: 0.4;
    border-radius: 0.25rem;
}

.BlogPage .BlogPage_Container .subSection_title {
    font-size: var(--subSectionTitle-font-size);
    font-weight: bold;
    margin: 1rem 0rem 0.5rem 0rem;
    display: inline-block;
}

/* Formatting for the rest of the page */

.BlogPage .BlogPage_Container {
    width: var(--content-width);
    margin: var(--main-margin) auto;
    display: flex;
    flex-direction: column;
}

.BlogPage .BlogPage_Container .mainTitle {
    font-size: var(--mainTitle-font-size);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.BlogPage .BlogPage_Container .BlogPage_SubTitleSection {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0rem;
}

.BlogPage .BlogPage_Container .Blog_Image {
    display: inline-block;
    margin: 0.5rem 0rem;
}

.BlogPage .BlogPage_Container ul {
    list-style: inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: var(--ul-text-indent-and-padding-left);
    display: block;
    font-size: var(--body-text-font-size);
    line-height: 1.5;
    margin: 0.5rem 0rem;
}

.BlogPage .BlogPage_Container .reference_section_table {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 1rem 0rem;
    width: 100%;
}

.BlogPage .BlogPage_Container .reference {
    line-height: 1.25;
    padding-left: 2rem;
}

.BlogPage .BlogPage_Container .blog_tags {
    margin: 0.5rem 0rem;
}

.BlogPage .BlogPage_Container .blog_tags > * {
    display: inline;
    vertical-align: middle;
}

.BlogPage .BlogPage_Container .blog_footer {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left {
    margin: 0rem !important;
    display: flex !important;
    justify-content: left;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a {
    position: relative;
    left: 10px;
    transition: left 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a:hover {
    left: 0;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right {
    margin: 0rem !important;
    display: flex !important;
    justify-content: right;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a {
    position: relative;
    right: 10px;
    transition: right 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a:hover {
    right: 0;
}
