/* 

- I have warning, information, question

*/

:root {
    /*  */
    --code-font-size: 0.8rem;
    /* Font size for the code text */

    --code-background-color: rgba(44, 71, 114, 0.3);
    --code-color: #ffa17a;

    --ul-text-indent-and-padding-left: 20px;
    /* This is for the lists */
    --line-height: 1.5;
    /* This is for the line height */
    --reference-line-height: 1.25;
    /* Line height for the references */
    --blog-footer-animation: 10px;
    /* The moving left and right animation for the blog footer next links */
    --blog-page-subtitle-section-gap: 1rem;
    /* Gap between the blog page's subtitle (eg. date, no. words, time, folder name) */

    --reference-section-table-padding-top-bottom: clamp(0.5rem, 2vw, 1rem);
    /* Top and bottom padding for the reference section */
    --reference-padding-left: clamp(1rem, 2vw, 2rem);
    /* Left padding for the references */
    --blog-footer-margin-top: clamp(1rem, 2vw, 2rem);
    /* Margin top for the blog footer (left link and right link container) */

    --code-padding-top-bottom: 0.3rem;
    --code-padding-left-right: 0.4rem;

    --top-pixels-reset-button: -74px;
}

@media (max-width: 1000px) {
    :root {
        --code-font-size: 0.6rem !important;
        --ul-text-indent-and-padding-left: 16px;
        --top-pixels-reset-button: -66px;
    }
}

@media (max-width: 700px) {
    :root {
        --code-font-size: 0.4rem !important;
        --code-padding-top-bottom: 0.15rem;
        --code-padding-left-right: 0.2rem;
        --ul-text-indent-and-padding-left: 9px;
        --top-pixels-reset-button: -63px;
    }
}

/* @media (max-width: 1000px) {
    :root {
        
    }
} */

/* General formatting for the whole page */

.BlogPage .BlogPage_Container .blog_links,
.BlogPage .BlogPage_Container .blog_links sup,
.BlogPage .BlogPage_Container .blog_links svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .blog_links:hover,
.BlogPage .BlogPage_Container .blog_links sup:hover,
.BlogPage .BlogPage_Container .blog_links:hover svg path {
    color: var(--lighter-hover-color);
}

.BlogPage .BlogPage_Container .blog_links_inverse:hover,
.BlogPage .BlogPage_Container .blog_links_inverse:hover svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .body {
    text-align: justify;
    display: inline-block;
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    margin: var(--text-margin) 0rem;
}

.BlogPage .BlogPage_Container .sub-body {
    font-size: var(--subtext-font-size);
}

.BlogPage .BlogPage_Container .center {
    display: block;
    text-align: center;
}

.BlogPage .BlogPage_Container .sectionIcon svg path {
    color: var(--hover-color);
}

.BlogPage .BlogPage_Container .subSection svg path {
    transform: rotate(90deg);
    transform-origin: center;
}

.BlogPage .BlogPage_Container .section_title {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: var(--title-font-size);
    padding: calc(var(--title-margin) * var(--title-multiplier)) 0rem var(--title-margin) 0rem;
    margin: calc(var(--title-margin) * var(--title-multiplier)) 0rem var(--title-margin) 0rem;
    position: relative;
}

.BlogPage .BlogPage_Container .section_title::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 5%;
    width: 90%;
    border-top: 4px solid var(--hover-color);
}

.BlogPage .BlogPage_Container strong {
    font-weight: bold;
}

.BlogPage .BlogPage_Container em {
    font-style: italic;
}

.BlogPage .BlogPage_Container .code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: var(--code-font-size);
    padding: var(--code-padding-top-bottom) var(--code-padding-left-right);
    letter-spacing: 0.4;
    border-radius: 0.25rem;
}

.BlogPage .BlogPage_Container .subSection_title {
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    margin: calc(var(--subtitle-margin) * var(--subtitle-multiplier)) 0rem var(--subtitle-margin) 0rem;
    display: inline-block;
    width: 100%;
}

/* Formatting for the rest of the page */

.BlogPage .BlogPage_Container {
    width: var(--main-content-width);
    margin: var(--main-margin) auto;
    display: flex;
    flex-direction: column;
}

.BlogPage .BlogPage_Container .mainTitle {
    font-size: var(--mainTitle-font-size);
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: var(--mainTitle-margin);
}

.BlogPage .BlogPage_Container .BlogPage_SubTitleSection {
    display: flex;
    gap: var(--blog-page-subtitle-section-gap);
    margin: var(--subtext-margin) 0rem;
}

.BlogPage .BlogPage_Container .Blog_Image {
    /* display: inline-block; */
    margin: var(--image-margin) auto calc(var(--image-margin) / 2) auto;
    display: block;
}

.BlogPage .BlogPage_Container .Blog_Image_FigName {
    display: block;
    text-align: center;
}

.BlogPage .BlogPage_Container ul {
    list-style: inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: calc(2 * var(--ul-text-indent-and-padding-left));
    display: block;
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    margin: var(--text-margin) 0rem;
}

.BlogPage .BlogPage_Container ol {
    list-style: decimal inside;
    text-indent: calc(-1 * var(--ul-text-indent-and-padding-left));
    padding-left: calc(2 * var(--ul-text-indent-and-padding-left));
    display: block;
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    margin: var(--text-margin) 0rem;
}

.BlogPage .BlogPage_Container li {
    margin-bottom: var(--text-margin);
}

.BlogPage .BlogPage_Container .reference_section_table {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: var(--reference-section-table-padding-top-bottom) 0rem;
    width: 100%;
}

.BlogPage .BlogPage_Container .reference {
    line-height: var(--reference-line-height);
    padding-left: var(--reference-padding-left);
}

.BlogPage .BlogPage_Container .blog_tags {
    margin: var(--subtext-margin) 0rem;
}

.BlogPage .BlogPage_Container .blog_tags>* {
    display: inline;
    vertical-align: middle;
}

.BlogPage .BlogPage_Container .blog_footer {
    margin-top: var(--blog-footer-margin-top) !important;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left,
.BlogPage .BlogPage_Container .blog_footer .footer_right {
    margin: 0rem !important;
    display: flex !important;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left {
    justify-content: left;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right {
    justify-content: right;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a {
    position: relative;
    left: var(--blog-footer-animation);
    transition: left 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_left a:hover {
    left: 0;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a {
    position: relative;
    right: var(--blog-footer-animation);
    transition: right 0.3s ease-in-out;
}

.BlogPage .BlogPage_Container .blog_footer .footer_right a:hover {
    right: 0;
}

.BlogPage .highlight {
    color: yellow;
    transition: color 0.5s ease-in-out;
}

.BlogPage .BlogPage_Container table td:first-child {
    vertical-align: top;
}

/* .BlogPage .BlogPage_Container table {
    border-collapse: separate;
    border-spacing: 0rem var(--text-margin);
} */

/* Custom code for Blog Page 1 CAD Model */
.BlogPage .BlogPage1Data_CADModel {
    display: flex;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4), 0px 6px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 5px;
    border: 1px solid var(--about-section-border-color);
    overflow: hidden;
    background-color: var(--about-section-background-color);
    margin-bottom: var(--image-margin);
}

.BlogPage .CADModelDisplay {
    width: 70%;
}

.BlogPage .CADModel {
    height: 100%;
}

.BlogPage .PointCloudSlider {
    position: relative;
    top: -95px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.BlogPage .PointCloudSlider label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--text-font-size);
}

.BlogPage .CADModelSelector {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.2rem;
    padding: 0.5rem 0.2rem;
}

.BlogPage .CADModelSelector>*,
.BlogPage .CADModelType>* {
    color: var(--background-color);
    font-size: var(--text-font-size);
    padding: 0.2rem 0rem;
    cursor: pointer;
    border: none;
}

.BlogPage .CADModelSelector>*:hover,
.BlogPage .CADModelType>*:hover {
    background-color: var(--lighter-hover-color);
    color: white;
}

.BlogPage .CADModelType {
    display: flex;
    width: 100%;
    gap: 0.2rem;
    padding: 0.5rem 0.2rem;
}

.CADModelType button {
    flex: 1;
    cursor: pointer;
    border: none;
}

.CADModelSelector button.selected,
.CADModelType button.selected {
    background-color: var(--hover-color);
    color: white !important;
    border: none;
    font-weight: normal;
}

.reset-button {
    position: relative;
    top: var(--top-pixels-reset-button);
    border-bottom-left-radius: 5px;
    border: none;
    padding: 10px 35px;
    width: 100%;
    color: var(--background-color);
    font-size: var(--text-font-size);
}

.reset-button:hover {
    background-color: var(--hover-color);
    color: white;
    cursor: pointer;
}

/* Custom code for Blog Page 2 Robustness Plot */
.BlogPage .BlogPage2Data_RobustnessPlot {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4), 0px 6px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 5px;
    border: 1px solid var(--about-section-border-color);
    overflow: hidden;
    background-color: var(--about-section-background-color);
    margin-bottom: var(--image-margin);

    .robustness-container {
        width: 100%;
        height: 100%;
    }
}

/* Custom code for Blog Page 2 tSNE and CM */
.BlogPage .BlogPage2Data_TSNE,
.BlogPage .BlogPage2Data_CM {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4), 0px 6px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 5px;
    border: 1px solid var(--about-section-border-color);
    overflow: hidden;
    background-color: var(--about-section-background-color);
    margin-bottom: var(--image-margin);
}

.BlogPage .BlogPage2Data_TSNE .tsne-container,
.BlogPage .BlogPage2Data_CM .cm-container {
    width: 70%;
    height: 100%;
}

.BlogPage .BlogPage2Data_TSNE .TSNE_Selector,
.BlogPage .BlogPage2Data_CM .CM_Selector {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--text-color);
    border-left: 1px solid var(--about-section-border-color);
    justify-content: center;
}

.BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_ModelSelector,
.BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_PointsSelector,
.BlogPage .BlogPage2Data_CM .CM_Selector .CM_ModelSelector,
.BlogPage .BlogPage2Data_CM .CM_Selector .CM_PointsSelector {
    .Text {
        padding-bottom: 20px;
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: var(--text-font-size);
        }

        input {
            margin-right: 8px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .BlogPage .BlogPage2Data_TSNE,
    .BlogPage .BlogPage2Data_CM {
        flex-direction: column; /* Stacks items vertically */
        height: auto; /* Allows container to grow based on content */
    }

    .BlogPage .BlogPage2Data_TSNE .tsne-container,
    .BlogPage .BlogPage2Data_CM .cm-container {
        width: 100%;
        height: 400px; /* Give the graph a fixed height so it doesn't collapse */
    }

    .BlogPage .BlogPage2Data_TSNE .TSNE_Selector,
    .BlogPage .BlogPage2Data_CM .CM_Selector {
        width: 100%;
        border-left: none; /* Remove the side divider */
        border-top: 1px solid var(--about-section-border-color); /* Add a top divider */
        padding: 20px;
    }

    /* Optional: Arrange the selector grids to look better on wide mobile screens */
    .BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_ModelSelector div,
    .BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_PointsSelector div,
    .BlogPage .BlogPage2Data_CM .CM_Selector .CM_ModelSelector div,
    .BlogPage .BlogPage2Data_CM .CM_Selector .CM_PointsSelector div {
        grid-template-columns: repeat(4, 1fr); /* Spreads buttons out horizontally */
    }
}

/* For very small screens (mobile phones), revert the grid to 2 columns */
@media screen and (max-width: 600px) {
    .BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_ModelSelector div,
    .BlogPage .BlogPage2Data_TSNE .TSNE_Selector .TSNE_PointsSelector div,
    .BlogPage .BlogPage2Data_CM .CM_Selector .CM_ModelSelector div,
    .BlogPage .BlogPage2Data_CM .CM_Selector .CM_PointsSelector div {
        /* grid-template-columns: repeat(2, 1fr);  */
    }
}

@media screen and (max-width: 768px) {
    /* Target the SVG class Plotly uses for legends */
    .BlogPage .BlogPage2Data_TSNE .js-plotly-plot .legend,
    .BlogPage .BlogPage2Data_CM .js-plotly-plot .legend {
        display: none !important;
    }
}