:root {
    /*  */
    --gap-section: 2.5rem; /* Gap between each section */
    --main-margin: 2.5rem; /* Top and bottom margin */
    --content-width: 60%; /* Width of the content */
    --gap-body: 1rem; /* Gap for the profile data and profile links and article footer */
    --user-image-size: 200px; /* Size of the user image */

    --hover-color: rgb(75, 150, 0); /* Hover color */
    --lighter-hover-color: rgb(100, 200, 0); /* Lighter hover color eg. "Read More" text */
    --shade-color: rgb(158, 158, 158); /* Shade color eg. Disclaimer Text */

    --profile-font-size-paragraph: 1.25rem; /* Font size for profile paragraphs */
    --article-title-font-size: 1.5rem; /* Article title font size */
    --article-text-font-size: 1rem; /* Article body font size */

    --article-image-padding: 1rem; /* Top and bottom padding of the article image */
    --article-text-padding-bottom: 0.75rem; /* Bottom padding between the article texts */
    --article-end-padding-bottom: 2.5rem; /* Bottom padding at the end of the article */
}

.Home .Home_Container,
.Home .Home_Container .Home_Profile {
    display: flex;
    flex-direction: column;
}

.Home .Home_Container {
    width: var(--content-width);
    margin: var(--main-margin) auto;
    gap: var(--gap-section);
}

.Home .Home_Container .Home_Profile {
    gap: var(--gap-body);
}

.Home .Home_Container .Home_Profile>* {
    display: flex;
    justify-content: center;
}

.Home .Home_Container .Home_Profile .Home_Avatar img {
    width: var(--user-image-size);
    height: var(--user-image-size);
    /* transition: transform 0.5s; */
}

/* .Home .Home_Container .Home_Profile .Home_Avatar img:hover {
    transform: translateY(-15px);
} */

.Home .Home_Container .Home_Profile .Home_Subtitle p,
.Home .Home_Container .Home_Profile .Home_Disclaimer p {
    font-size: var(--profile-font-size-paragraph);
    text-align: center;
}

.Home .Home_Container .Home_Profile .Home_Links {
    display: flex;
    gap: var(--gap-body);
    font-size: var(--profile-font-size-paragraph);
}

.Home .Home_Container .Home_Profile .Home_Links a:hover svg path {
    color: var(--hover-color);
}

.Home .Home_Container .Home_Profile .Home_Disclaimer p {
    color: var(--shade-color);
}

/* For Each Article Post */

.Home .Home_Container .article .article_image {
    width: 100%;
    padding-bottom: var(--article-image-padding);
    cursor: pointer;
}

.Home .Home_Container .article .article_image img {
    transition: scale 0.5s;
}

.Home .Home_Container .article .article_image img:hover {
    scale: 1.025;
}

.Home .Home_Container .article .article_title h1 {
    font-weight: bold;
    line-height: 1.25;
    font-size: var(--article-title-font-size);
    padding-bottom: var(--article-text-padding-bottom);
}

.Home .Home_Container .article .article_title h1 a:hover {
    color: var(--hover-color);
}

.Home .Home_Container .article .article_subtitle {
    line-height: 1.5;
    padding-bottom: var(--article-text-padding-bottom);
}

.Home .Home_Container .article .article_subtitle .article_icon,
.Home .Home_Container .article .article_subtitle .article_icon_link {
    font-size: var(--article-text-font-size);
    font-weight: bold;
    cursor: pointer;
}

.Home .Home_Container .article .article_subtitle .article_icon_link:hover,
.Home .Home_Container .article .article_subtitle .article_icon_link:hover svg path {
    color: var(--hover-color);
}

.Home .Home_Container .article .article_subtitle .article_icon_text {
    font-size: var(--article-text-font-size);
    color: var(--shade-color);
}

.Home .Home_Container .article .article_abstract p {
    color: var(--shade-color);
    padding-bottom: var(--article-text-padding-bottom);
}

.Home .Home_Container .article .article_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-body);
    border-bottom: 2px solid gray;
    padding-bottom: var(--article-end-padding-bottom);
}

.Home .Home_Container .article .article_footer>*:first-child,
.Home .Home_Container .article .article_footer p a:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.Home .Home_Container .article .article_footer>*:first-child:hover {
    color: var(--lighter-hover-color);
}

/* For Page Navigation Features */

.Home .Home_Container .Home_pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.Home .Home_Container .Home_pagination > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home .Home_Container .Home_pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Home .Home_Container .Home_pagination .one_page {
    display: none;
}

.Home .Home_Container .Home_pagination .multiple_pages {
    display: block;
}