.Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Home .Home_Container {
    padding: 2.5rem 0rem 0rem 0rem;
    width: 52%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.Home .Home_Container .Home_Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.Home .Home_Container .Home_Profile>* {
    display: flex;
    justify-content: center;
}

.Home .Home_Container .Home_Profile .Home_Avatar img {
    width: 150px;
    height: 150px;
    transition: transform 0.5s;
}

.Home .Home_Container .Home_Profile .Home_Avatar img:hover {
    transform: translateY(-15px);
}

.Home .Home_Container .Home_Profile .Home_Subtitle p,
.Home .Home_Container .Home_Profile .Home_Disclaimer p {
    font-size: 1.25rem;
    text-align: center;
}

.Home .Home_Container .Home_Profile .Home_Links {
    display: flex;
    gap: 1rem;
}

.Home .Home_Container .Home_Profile .Home_Links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: inline-block;
}

.Home .Home_Container .Home_Profile .Home_Links a:hover svg path {
    color: rgb(75, 150, 0);
    ;
}

.Home .Home_Container .Home_Profile .Home_Disclaimer p {
    color: rgb(180, 180, 180);
}

/* For Each Article Post */

.Home .Home_Container .article .article_image {
    width: 100%;
    padding-bottom: 1rem;
    cursor: pointer;
}

.Home .Home_Container .article .article_image img {
    transition: scale 1s;
    border-radius: 2rem;
}

.Home .Home_Container .article .article_image img:hover {
    scale: 1.025;
}

.Home .Home_Container .article .article_title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
}

.Home .Home_Container .article .article_title h1 a:hover {
    color: rgb(75, 150, 0);
}

.Home .Home_Container .article .article_subtitle {
    padding-bottom: 0.75rem;
}

.Home .Home_Container .article .article_subtitle p {
    display: flex;
    align-items: end;
}

.Home .Home_Container .article .article_subtitle .article_icon,
.Home .Home_Container .article .article_subtitle .article_icon_link {
    font-size: 1.1rem;
}

.Home .Home_Container .article .article_subtitle .article_icon_link:hover,
.Home .Home_Container .article .article_subtitle .article_icon_link:hover svg path {
    color: rgb(75, 150, 0);
}

.Home .Home_Container .article .article_subtitle .article_icon_text {
    font-size: 0.875rem;
    color: rgb(180, 180, 180);
}

.Home .Home_Container .article .article_abstract p {
    color: rgb(180, 180, 180);
}

.Home .Home_Container .article .article_footer {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0rem 2.5rem 0rem;
    border-bottom: 2px solid gray;
}

.Home .Home_Container .article .article_footer>*:first-child {
    color: rgb(75, 150, 0);
}

.Home .Home_Container .article .article_footer>*:first-child:hover {
    color: rgb(100, 200, 0);
}

.Home .Home_Container .article .article_footer p a:hover {
    color: rgb(75, 150, 0);
}