:root {
    --section-gap: clamp(1rem, 2vw, 3rem);
    --subTitle-margin-bottom: clamp(0.5rem, 2vw, 1.5rem);
}

/* @media (max-width: 1400px) {
    :root {
        
    }
}
  
@media (max-width: 1000px) {
    :root {
        
    }
}
  
@media (max-width: 700px) {
    :root {
        
    }
}

@media (max-width: 500px) {
    :root {
        
    }
} */

.Projects .Projects_Container {
    display: flex;
    flex-direction: column;
    width: var(--main-content-width);
    margin: var(--main-margin) auto;
}

.Projects .Projects_Container .Projects_Title_Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mainTitle-margin);
}

.Projects .Projects_Title {
    font-size: var(--mainTitle-font-size);
    font-weight: bold;
}

.Projects .Project_Contents {
    display: flex;
    flex-direction: column;
}

.Projects .Project_Contents div {
    display: flex;
    flex-direction: column;
}

.Projects .Project_Contents .subTitle {
    font-size: var(--title-font-size);
    font-weight: bold;
    margin: calc(var(--title-margin) * var(--title-multiplier)) 0rem var(--title-margin) 0rem;
}

.Projects .Project_Contents .all_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Projects .Project_Contents .data {
    font-size: var(--text-font-size);
    margin: var(--text-margin) 0rem var(--text-margin) 1.5rem;
}

.Projects .Project_Contents .data:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Projects .Project_Contents .data:nth-child(2) {
    min-width: max-content;
}

.Projects .Project_Contents .data .article_link:hover {
    color: var(--hover-color);
}

.highlight,
.highlight span {
    color: yellow; /* highlight color */
    transition: color 0.5s ease-in-out;
}
