.Resume {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Resume .Resume_Container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2.5rem auto;
    gap: 2rem;  /* Gap between each main sections */
}

.Resume .Resume_Container .Resume_Main_Section {
    display: flex;
    flex-direction: column;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Main_Section_Title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Main_Section_Title svg path {
    color: rgb(75, 150, 0);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: .5rem 1rem;
    background-color: rgb(36, 41, 53);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Header .Each_Section_Title {
    font-size: 1.5rem;
    font-weight: bold;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Header .Each_Section_Date {
    font-size: 0.75rem;
    color: rgb(158, 158, 158);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_SubHeader {
    font-size: 0.9rem;
    padding-bottom: 0.75rem;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_SubHeader a {
    color: rgb(75, 150, 0);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_SubHeader a:hover {
    color: rgb(100, 200, 0);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Information {
    font-size: 1rem;
    line-height: 1.25;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Information ul {
    margin-left: 0.5rem;
    list-style: inside;
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Information a {
    color: rgb(75, 150, 0);
}

.Resume .Resume_Container .Resume_Main_Section .Resume_Each_Section .Each_Section_Information a:hover {
    color: rgb(100, 200, 0);
}
