:root {
    --collapsableContainer-margin: 1rem; /* Margin for the container */
    --collapsableTitle-padding: 10px; /* Padding for the title */
    --collapsableContent-padding: 10px; /* Padding for the content in collapsable */
    --codeNumber-minimum-width: 1.6rem;
    --codeText-padding-left: 0.5rem;
}

.collapsableContainerCode {
    width: 100%;
    margin: var(--collapsableContainer-margin) 0;
    display: inline-block;
    border-left: 0.25rem solid rgba(3, 94, 38);
    white-space: pre;
}

.collapsableTitleCode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 94, 38, 0.5);
    padding: var(--collapsableTitle-padding);
    cursor: pointer;
    font-size: var(--text-font-size);
}

.collapseButton {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

.copyIcon {
    cursor: pointer;
    transition: color 0.3s ease;
}

.copyIcon:hover {
    color: rgb(75, 150, 0);
}

.collapsableContentCode {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out, opacity 0.3s ease-in-out;
    background-color: rgba(3, 94, 38, 0.1);
    font-size: var(--code-font-size);
    opacity: 1;
}

.collapsableContentCode.open {
    max-height: 5000px;
    font-size: var(--code-font-size);
}

.collapsableContentCode.hidden {
    opacity: 0;
}

.collapsableContentCode .codeNumber {
    min-width: var(--codeNumber-minimum-width);
    text-align: center;
    font-family: 'Space mono', monospace;
    color: gray;
}

.collapsableContentCode .codeText {
    width: 100%;
    padding-left: var(--codeText-padding-left);
    font-family: 'Space mono', monospace;
}

.collapsableContentCode .shell {
    color: #ffa17a;
}

.codeTable {
    border-collapse: separate;
    border-spacing: 2px 2px !important;
}

/* .BlogPage .BlogPage_Container table td:first-child {
    vertical-align: top;
}

.BlogPage .BlogPage_Container table {
    border-collapse: separate;
    border-spacing: 0rem var(--text-margin);
} */

.a {
    color: orange;
}

.b {
    color: lightgrey;
}

.c {
    color: green;
}

.d {
    color: green;
    font-style: italic;
}

.e {
    color: grey;
}

.f {
    color: darkred;
}

.g {
    color: blue;
}

.h {
    color: lightskyblue;
}

.i {
    color: purple;
}

.j {
    color: yellow;
}
