.collapsableContainerCode {
    width: 100%;
    margin: 1rem 0;
    display: inline-block;
    background-color: rgb(3, 94, 38);
}

.collapsableTitleCode {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    background-color: rgb(3, 94, 38, 0.5);
}

.collapsableContentCode {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out;
    background-color: rgb(3, 94, 38, 0.1);
}

.collapsableContentCode.open {
    padding: 10px;
    max-height: 500px;
}