.collapsableContainerCode {
    width: 100%;
    margin: 1rem 0;
    display: inline-block;
    border-left: 0.25rem solid rgba(3, 94, 38);
    white-space: pre;
}

.collapsableTitleCode {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    background-color: rgba(3, 94, 38, 0.5);
}

.collapsableContentCode {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out;
    background-color: rgba(3, 94, 38, 0.1);
    font-size: 0.8rem;
}

.collapsableContentCode.open {
    max-height: 500px;
    font-size: 0.8rem;
}

.collapsableContentCode .codeNumber {
    min-width: 1.6rem;
    text-align: center;
    font-family: 'Space mono', monospace;
    color: gray;
}

.collapsableContentCode .codeText {
    width: 100%;
    padding: 0rem 0rem 0rem 0.5rem;
    font-family: 'Space mono', monospace;
}

.collapsableContentCode .shell {
    color: #ffa17a;
}

/* Keywords
   Example: if, else, while, for, import, def, class */
.a {
    color: orange;
}

.b {
    color: lightgrey;
}

.c {
    color: green;
}

.d {
    color: green;
    font-style: italic;
}

.e {
    color: grey;
}

.f {
    color: darkred;
}

.g {
    color: blue;
}

.h {
    color: lightskyblue;
}

.i {
    color: purple;
}