:root {
    --collapsableContainer-margin: clamp(0.5rem, 2vw, 1rem); /* Margin for the container */
    --collapsableTitle-padding: clamp(0.25rem, 1vw, 0.625rem); /* Padding for the title */
    --collapsableContent-padding: clamp(0.25rem, 1vw, 0.625rem); /* Padding for the content in collapsable */
}

.collapsableContainer {
    width: 100%;
    margin: var(--collapsableContainer-margin) 0;
    display: inline-block;
}

.collapsableTitle {
    width: 100%;
    padding: var(--collapsableTitle-padding);
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    font-size: var(--text-font-size);
}

.collapsableContent {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: padding 0.2s ease-in-out, max-height 0.2s ease-in-out;
    margin: 0rem !important;
    display: block !important;
}

.collapsableContent.open {
    padding: var(--collapsableContent-padding);
    max-height: 500px;
    margin: 0rem !important;
    display: block !important;
}

/* For Warning Container */

.warning_container {
    border-left: 0.25rem solid rgba(255, 145, 0);
}

.warning_title {
    background-color: rgba(255, 145, 0, 0.5);
}

.warning_content {
    background-color: rgba(255, 145, 0, 0.1);
}

/* For Information Container */

.information_container {
    border-left: 0.25rem solid rgba(0, 87, 184);
}

.information_title {
    background-color: rgba(0, 87, 184, 0.5);
}

.information_content {
    background-color: rgba(0, 87, 184, 0.1);
}

/* For Question Container */

.question_container {
    border-left: 0.25rem solid rgba(114, 24, 255);
}

.question_title {
    background-color: rgba(114, 24, 255, 0.5);
}

.question_content {
    background-color: rgba(114, 24, 255, 0.1);
}