:root {
    --left-right-border-radius: 5rem;
    --padding-and-margin: clamp(0.25rem, 2vw, 1rem);
    --NavBar-width: 80%;
}

@media (max-width: 1600px) {
    :root {
        --left-right-border-radius: 0rem;
    }
}

@media (max-width: 1400px) {
    :root {
        --NavBar-width: 85%;
    }
}

@media (max-width: 700px) {
    :root {
        --NavBar-width: 90%;
    }
}

.NavBar {
    background-color: #313436;
    border-bottom-left-radius: var(--left-right-border-radius);
    border-bottom-right-radius: var(--left-right-border-radius);
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.NavBar_Sub {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-and-margin);
    width: var(--NavBar-width);
    margin: 0 auto;
}

.NavBar_Sub .NavBar_left > * {
    margin: 0 var(--padding-and-margin);
    color: var(--lighter-shade-color);
    font-size: var(--title-font-size);
    cursor: pointer;
}

.NavBar_Sub .NavBar_right {
    display: flex;
    align-items: center;
}

.NavBar_Sub .NavBar_right > * {
    margin: 0 var(--padding-and-margin);
    text-decoration: none;
    color: var(--lighter-shade-color);
    font-size: var(--text-font-size);
    cursor: pointer;
}

.NavBar_Sub .NavBar_left > *:hover,
.NavBar_Sub .NavBar_right > *:hover {
    color: var(--hover-color);
}

.selected {
    color: var(--hover-color) !important;
    font-weight: 900;
}